/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: black;
	background-image: url("images/prism.png")
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: white;
}

.tamanho {
	max-width: 600px;
	display: block;
	margin: auto;
	padding: 0px;
}

.divisor {
	cursor: pointer;
	text-align: left;
	width: 100%;
	max-width: 600px;
	border: none;
	border-bottom: 1px solid #352546;
	display: block;
	margin: auto;
	padding: 0px;
	background-image: linear-gradient(#412E56, #352546);
	transition: 0.5s;
}

#timer {
	font-size: 56px;
	font-family: lato, sans-serif;
	font-weight: 300;
	text-align: right;
	color: white;
	position: relative;
	bottom: 50px;
	right: 20px;
}

.divisor:after {
	content: "+";
	float: right;
	margin-left: 5px;
	margin-right: 20px;
	font-size: 28px;
	font-family: lato, sans-serif;
	font-weight: 300;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.divisorativo:after {
	content: "-";
	float: right;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 28px;
	font-family: lato, sans-serif;
	font-weight: 300;
	color: white;
}

.divisor h2 {
	float: left;
	width: 70%;	
	font-size: 28px;
	font-family: lato, sans-serif;
	font-weight: 300;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
}

#divisor1 {
	margin-top: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.glopalestra {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.palestra {
	min-height: 130px;
	background-color: #444444;
	max-width: 600px;
	display: block;
	margin: auto;
	padding: 0px;
	transition: 0.5s;
	border-bottom: 1px solid #333333;
}

.active, .divisor:hover {
	background-color:  #5C417A;
	animation: 0.5s;
}
	
.conteudospalestra {
	display: flex;
}

.imgpalestra {
	display: block;
	background-color: #5F5F5F;
	min-width: 230px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

.imgpalestra img {
	width: 230px;
	display: block;
	margin: auto;
	border: 1px solid white;
}

.textopalestra {
	height: 90%;
	margin-top: 20px;
	margin-bottom: auto;
	max-width: 283px;
}

.textopalestra h3 {
	width: 70%;
	display: flex;
	font-size: 17px;
	font-family: lato, sans-serif;
	font-weight: 400;
	line-height: 1.2;
	color: white;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 20px;
}

.textopalestra p {
	width: 70%;
	display: flex;
	font-size: 11px;
	font-family: lato, sans-serif;
	font-weight: 400;
	color: white;
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 20px;
	line-height: 1.2;
}

.separador {
	display: inline-flex;
	background-image: linear-gradient(to right, #5F5F5F, #444444);
	width: 45px;
	height: 100;
}

.separadorsuperior {
	display: none;
}

p.horario {
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 700;
	color: #909090;
}

#cabecalho {
	height: 200px;
	margin-top: 0px;
	max-width: 1000px;
}

#header {
	display: block;
	margin: auto;
	background-image: url(images/header.png);
	background-position: bottom;
	background-size: cover;
	max-width: 1000px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#textocabecalho h1 {
	width: 70%;	
	font-size: 38px;
	font-family: lato, sans-serif;
	font-weight: 300;
	color: white;
	padding-top: 86px;
	padding-bottom: 10px;
	padding-left: 30px;
}

#textocabecalho p {
	width: 70%;	
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 300;
	color: white;
	padding: 0px 30px 15px 40px;
}

#apresentacao {
	max-width: 600px;
	background-color: #1d1d1d;
	min-height: 300px;
	display: none;
	margin-top: auto;
	background-image: url("images/capa.png");
	background-size: cover;
	background-position: center;
}

.espacador {
	height: 20vh;
	transition: 0.5s;
}

#textoapresentacao {
	vertical-align: bottom;
	color: white;
	display: block;
	width: 45%;
	min-width: 250px;
	max-width: 300px;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	padding: 40px 30px 20px 40px;
}

#textoapresentacao h2 {
	display: block;
	margin-top: auto;
	font-size: 26px;
	font-weight: 300;
	padding-bottom: 10px;
}

#textoapresentacao p {
	line-height: 1.3;
}

#fechamento {
	background-color: #1d1d1d;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
	line-height: 1.3;
	color: white;
	text-align: justify;
}

#fechamentotexto {
	padding: 30px;
}

#fechamentotexto a {
	font-weight: 700;
	color: #9042E3
}

.rodape {
	display: block;
	margin: auto;
	max-width: 600px;
	height: 70px;
	background-color: #222222;
	background-image: url("images/rodape.png");
	background-position: bottom;
	background-size: cover;
	margin-bottom: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.inscrevase{
	display: none;
	content: "Inscreva-se!";
	background-color: #7741b3;
	border-radius: 40px;
	width: 50%;
	margin: auto;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 700;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
}

.LinkedIn {
	height: 16px;
	width: 16px;
	background-image: url(images/link.png);
	background-size: cover;
	margin-left: 5px;
}

.Insta {
	height: 16px;
	width: 16px;
	background-image: url(images/insta.png);
	background-size: cover;
	margin-left: 3px;
}

.inscrevase:after {
	content: "Inscreva-se!";
}

#botaoinstagram {
	color: rgba(0, 0, 0, 0);
	width: 64px;
	height: 64px;
	background-image: url(images/insta.png);
	background-size: cover;
	display: block;
	position: fixed;
	top: 20px;
	right: 20px;
}

@media screen and (max-width: 999px) {
	#header {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	
	.espacador {
		height: 30vh;
	}
	
	p#timer {
		font-size: 48px;
		margin-right: 0px;
		display: block;
		width: 300px;
		margin-left: auto;
	}
}
	
@media screen and (max-width: 899px) {

	body {
		background-color: #1d1d1d;
	}
	
	#textocabecalho {
		background-color: rgba(0,0,0,0);
		background-image: none;
	}
	
	#cabecalho h1, #cabecalho p {
		margin-right: 0px;
		padding-right: 0px;
		width: 88%;
	}
	
	#apresentacao {
		display: none;
	}
	
	.conteudospalestra {
		display: inline;
	}
	
	.imgpalestra img {
		width: 100%;
	}
	
	.textopalestra {
		padding-bottom: 7px;
		margin-top: 0px;
		max-width: none;
	}
	
	.textopalestra h3 {
		padding-top: 15px;
		padding-left: 30px;
	}
	
	.textopalestra p {
		font-size: 14px;
		padding-left: 30px;
	}
	
	.separador {
		display: block;
		height: 10px;
		width: 100%;
		background-image: linear-gradient(to bottom, #6b6b6b , #444444);
	}
	
	.separadorsuperior {
		display: block;
		height: 6px;
		width: 100%;
		background-image: linear-gradient(to top, #6b6b6b , #222222);
		border-top: 1px solid #222222;
	}
	
	#fechamentotexto {
		padding-top: 60px;
	}
	
	p.horario {
		display: block;
		font-size: 18px;
		text-align: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0px;
	}
	
	.rodape {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		margin-bottom: 0px;
	}
	
	.inscrevase {
		display: block;
	}
	
	#divisor1 {
		margin-top: 30px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

@media screen and (max-width: 599px) {
	#divisor1 {
		margin-top: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	
	.espacador {
		height: 40vh;
	}

	p#timer {
		bottom: 120%;
		font-size: 72px;
		text-align: center;
	}	

}

@media screen and (max-width: 390px) {
	#cabecalho h1 {
		padding-left: 6%;
	}
	
	#cabecalho p {
		padding-left: 6%;
		font-size: 15px;
	}

	p#timer {
		bottom: 120%;
		font-size: 60px;
		text-align: center;
	}	
}